body {
  font-family: "Google Sans", arial, sans-serif;
}

h1 {
  color: rgb(135, 135, 135);
  display: block;
  font-size: 24px;
  font-weight: 100;
  line-height: 28.8px;
  margin-bottom: 0;
}

h3 {
  color: rgb(186, 186, 186);
  display: block;
  font-size: 14px;
  font-weight: 400;
  line-height: 15px;
  padding-top: 7px;
  margin-bottom: 0;
  text-align: center;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
  margin: 0;
  padding: 0;

  color: rgb(135, 135, 135);
  font-family: arial, sans-serif;
  font-size: 16px;
  font-weight: 100;
  line-height: 19.2px;
}

li:first-letter {
  text-transform: capitalize;
}

.weather-app-wrapper {
  max-width: 600px;
  margin: 30px auto;
}

.weather-app {
  padding: 20px;
  border: 1px solid #dfe1e5;
  border-radius: 5px;
}
.overview {
  margin-bottom: 20px;
}
.weather-temperature img {
  margin-right: 10px;
  height: 80px;
  width: 80px;
  float: left;
}
.weather-temperature strong {
  font-size: 64px;
  color: rgb(32, 33, 36);
  font-weight: 400;
  line-height: 1;
}

.weather-temperature .units {
  position: relative;
  font-size: 16px;
  top: -34px;
}

.weather-temperature .inactiv {
  color: rgb(32, 33, 36);
  cursor: default;
}
.weather-temperature .inactiv:hover {
  text-decoration: none;
}

.weather-forcast-temp {
  color: rgb(32, 33, 36);
  display: block;
  font-size: 13px;
  font-weight: 400;
  height: 15px;
  line-height: 15px;
  text-align: center;
}

.weather-forcast h3 {
  color: rgb(186, 186, 186);
  display: block;
  font-size: 14px;
  font-weight: 400;
  height: 15px;
  line-height: 15px;
  padding-top: 7px;
  text-align: center;
}

.weather-forcast img {
  display: block;
  height: 64px;
  margin: 1px 4px 0;
  width: 64px;
}

.weather-forcast-temp strong {
  color: rgb(135, 135, 135);
  font-size: 13px;
  font-weight: normal;
  line-height: 15px;
}

.weather-forcast-temp {
  color: rgb(186, 186, 186);
}

.col-3 {
  padding-right: 5px;
  padding-left: 5px;
}

.col-1 {
  padding-right: 5px;
  padding-left: 5px;
}

.btn-primary {
  background-color: #ec6e4c;
  border-color: #ec6e4c;
}

.btn-primary:hover {
  background-color: #aa391d;
  border-color: #aa391d;
}

.btn-primary:focus {
  background-color: #aa391d;
  border-color: #aa391d;
  box-shadow: 0 0 0 0.2rem #ef9b86;
}

.btn-primary:focus-within {
  background-color: #aa391d;
  border-color: #aa391d;
}

.btn-primary:active {
  background-color: #aa391d;
  border-color: #aa391d;
}
.btn-primary:not(:disabled):not(.disabled):active {
  background-color: #aa391d;
  border-color: #aa391d;
}

.form-control:focus {
  box-shadow: 0 0 0 0.2rem #ef9b86;
  border-color: #aa391d;
}

.weather-forcast {
  padding: 10px;
}
